

/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

p {
  border: 15px solid green;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  width: 300px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

